<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 
  <display-name>Log4j</display-name>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
 
   <listener>
    <listener-class>it.unisannio.sweng.rosariogoglia.listener.ContextInitializer</listener-class>
  </listener>
  
 <display-name>AsteOnLine</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

 <servlet>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
 
  <servlet>
   <display-name>ServletRegistrazione</display-name>
    <servlet-name>ServletRegistrazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazione</servlet-name>
    <url-pattern>/ServletRegistrazione</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>ServletInizializzazione</display-name>
    <servlet-name>ServletInizializzazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInizializzazione</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInizializzazione</servlet-name>
    <url-pattern>/ServletInizializzazione</url-pattern>
  </servlet-mapping>
 

  
 
  <servlet>
    <display-name>ServletInserisciInserzione</display-name>
    <servlet-name>ServletInserisciInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInserisciInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserisciInserzione</servlet-name>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <display-name>ServletModificaInserzione</display-name>
    <servlet-name>ServletModificaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaInserzione</servlet-name>
    <url-pattern>/ServletModificaInserzione</url-pattern>
  </servlet-mapping> 
 
 
  <servlet>
    <servlet-name>CercaComuni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaComuni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaComuni</servlet-name>
    <url-pattern>/cercacomuni.ajax</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CercaProduttori</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaProduttori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaProduttori</servlet-name>
    <url-pattern>/cercaproduttori.ajax</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <servlet-name>CercaProdotti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaProdotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaProdotti</servlet-name>
    <url-pattern>/cercaprodotti.ajax</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>ServletDettagliInserzione</display-name>
    <servlet-name>ServletDettagliInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletDettagliInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDettagliInserzione</servlet-name>
    <url-pattern>/ServletDettagliInserzione</url-pattern>
  </servlet-mapping>
 
 
 <servlet>
    <display-name>ServletAsteInChiusura</display-name>
    <servlet-name>ServletAsteInChiusura</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletAsteInChiusura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAsteInChiusura</servlet-name>
    <url-pattern>/ServletAsteInChiusura</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
    <display-name>ServletAsteInCorso</display-name>
    <servlet-name>ServletAsteInCorso</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletAsteInCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAsteInCorso</servlet-name>
    <url-pattern>/ServletAsteInCorso</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletControlloInserisciInserzione</display-name>
    <servlet-name>ServletControlloInserisciInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloInserisciInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloInserisciInserzione</servlet-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletControlloModificaInserzione</display-name>
    <servlet-name>ServletControlloModificaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaInserzione</servlet-name>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <display-name>ServletControlloModificaDati</display-name>
    <servlet-name>ServletControlloModificaDati</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaDati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaDati</servlet-name>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletControlloModificaPassword</display-name>
    <servlet-name>ServletControlloModificaPassword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaPassword</servlet-name>
    <url-pattern>/ServletControlloModificaPassword</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <display-name>ServletControlloRipubblicaInserzione</display-name>
    <servlet-name>ServletControlloRipubblicaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloRipubblicaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloRipubblicaInserzione</servlet-name>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletControlloPagamento</display-name>
    <servlet-name>ServletControlloPagamento</servlet-name>
    <servlet-class>it.unisannio.tsw.rosariogoglia.controller.ServletControlloPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloPagamento</servlet-name>
    <url-pattern>/ServletControlloPagamento</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletControlloOfferta</display-name>
    <servlet-name>ServletControlloOfferta</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloOfferta</servlet-name>
    <url-pattern>/ServletControlloOfferta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletDettagliUtente</display-name>
    <servlet-name>ServletDettagliUtente</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletDettagliUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDettagliUtente</servlet-name>
    <url-pattern>/ServletDettagliUtente</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletIMieiAcquisti</display-name>
    <servlet-name>ServletIMieiAcquisti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletIMieiAcquisti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIMieiAcquisti</servlet-name>
    <url-pattern>/ServletIMieiAcquisti</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletInserzioniOsservate</display-name>
    <servlet-name>ServletInserzioniOsservate</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInserzioniOsservate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserzioniOsservate</servlet-name>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>ServletLeMieInserzioni</display-name>
    <servlet-name>ServletLeMieInserzioni</servlet-name>
    <servlet-class>it.unisannio.tsw.rosariogoglia.controller.ServletLeMieInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeMieInserzioni</servlet-name>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletMail</display-name>
    <servlet-name>ServletMail</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMail</servlet-name>
    <url-pattern>/ServletMail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletModificaDati</display-name>
    <servlet-name>ServletModificaDati</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaDati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaDati</servlet-name>
    <url-pattern>/ServletModificaDati</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletOfferta</display-name>
    <servlet-name>ServletOfferta</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOfferta</servlet-name>
    <url-pattern>/ServletOfferta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletOsservaInserzione</display-name>
    <servlet-name>ServletOsservaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletOsservaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOsservaInserzione</servlet-name>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletPagamento</display-name>
    <servlet-name>ServletPagamento</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPagamento</servlet-name>
    <url-pattern>/ServletPagamento</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <display-name>ServletRicercaAvanzataInserzione</display-name>
    <servlet-name>ServletRicercaAvanzataInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaAvanzataInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaAvanzataInserzione</servlet-name>
    <url-pattern>/ServletRicercaAvanzataInserzione</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletRicercaAvanzataProdotto</display-name>
    <servlet-name>ServletRicercaAvanzataProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaAvanzataProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaAvanzataProdotto</servlet-name>
    <url-pattern>/ServletRicercaAvanzataProdotto</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>ServletRicercaInserzioni</display-name>
    <servlet-name>ServletRicercaInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaInserzioni</servlet-name>
    <url-pattern>/ServletRicercaInserzioni</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletModificaPassword</display-name>
    <servlet-name>ServletModificaPassword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaPassword</servlet-name>
    <url-pattern>/ServletModificaPassword</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <display-name>ServletLeMieAste</display-name>
    <servlet-name>ServletLeMieAste</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLeMieAste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeMieAste</servlet-name>
    <url-pattern>/ServletLeMieAste</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <display-name>ServletRicercaLeMieInserzioniTitolo</display-name>
    <servlet-name>ServletRicercaLeMieInserzioniTitolo</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaLeMieInserzioniTitolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaLeMieInserzioniTitolo</servlet-name>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
  </servlet-mapping> 
 
 
 <servlet>
    <display-name>ServletRipubblicaInserzione</display-name>
    <servlet-name>ServletRipubblicaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRipubblicaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRipubblicaInserzione</servlet-name>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
  </servlet-mapping>
 
 
 
 
 
 
 
 <servlet>
    <display-name>amministrazione</display-name>
    <servlet-name>amministrazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAmministrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>amministrazione</servlet-name>
    <url-pattern>/amministrazione</url-pattern>
  </servlet-mapping>
 
 
 <servlet>
    <display-name>ServletLoginAmministratore</display-name>
    <servlet-name>ServletLoginAmministratore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletLoginAmministratore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginAmministratore</servlet-name>
    <url-pattern>/ServletLoginAmministratore</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>ServletListaInserzioni</display-name>
    <servlet-name>ServletListaInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletListaInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaInserzioni</servlet-name>
    <url-pattern>/ServletListaInserzioni</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>ServletSetStatoUtente</display-name>
    <servlet-name>ServletSetStatoUtente</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletSetStatoUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSetStatoUtente</servlet-name>
    <url-pattern>/ServletSetStatoUtente</url-pattern>
  </servlet-mapping>
 
 
 <servlet>
    <display-name>ServletAggiungiCategoria</display-name>
    <servlet-name>ServletAggiungiCategoria</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiCategoria</servlet-name>
    <url-pattern>/ServletAggiungiCategoria</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>ServletAggiungiKeyword</display-name>
    <servlet-name>ServletAggiungiKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiKeyword</servlet-name>
    <url-pattern>/ServletAggiungiKeyword</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <display-name>ServletAggiornaScadenzaAste</display-name>
    <servlet-name>ServletAggiornaScadenzaAste</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiornaScadenzaAste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiornaScadenzaAste</servlet-name>
    <url-pattern>/ServletAggiornaScadenzaAste</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ServletAggiungiProdotto</display-name>
    <servlet-name>ServletAggiungiProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiProdotto</servlet-name>
    <url-pattern>/ServletAggiungiProdotto</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>ServletAggiungiProduttore</display-name>
    <servlet-name>ServletAggiungiProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiProduttore</servlet-name>
    <url-pattern>/ServletAggiungiProduttore</url-pattern>
  </servlet-mapping>
 
  
 
 
 
</web-app>