<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Log4j</display-name>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>it.unisannio.sweng.rosariogoglia.listener.ContextInitializer</listener-class>
  </listener>
  <filter>
    <filter-name>FilterManutenzione</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterManutenzione</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterManutenzione</filter-name>
    <url-pattern>/registrazione.jsp</url-pattern>
    <url-pattern>/ricercaAvanzata.jsp</url-pattern>
    <url-pattern>/index</url-pattern>
    <url-pattern>/categorie.jsp</url-pattern>
    <url-pattern>/produttori.jsp</url-pattern>
    <url-pattern>/prodotti.jsp</url-pattern>
    <url-pattern>/recuperoPassword.jsp</url-pattern>
    <url-pattern>/ServletIndex</url-pattern>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaPassword</url-pattern>
    <url-pattern>/ServletControlloOfferta</url-pattern>
    <url-pattern>/ServletControlloPagamento</url-pattern>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletModificaDati</url-pattern>
    <url-pattern>/ServletModificaPassword</url-pattern>
    <url-pattern>/ServletDettagliUtente</url-pattern>
    <url-pattern>/ServletDettagliInserzione</url-pattern>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
    <url-pattern>/ServletLeMieAste</url-pattern>
    <url-pattern>/ServletIMieiAcquisti</url-pattern>
    <url-pattern>/ServletLogin</url-pattern>
    <url-pattern>/ServletLogout</url-pattern>
    <url-pattern>/ServletModificaDati</url-pattern>
    <url-pattern>/ServletModificaPassword</url-pattern>
    <url-pattern>/ServletRegistrazione</url-pattern>
    <url-pattern>/ServletRicercaInserzioni</url-pattern>
    <url-pattern>/ServletRicercaAvanzataInserzione</url-pattern>
    <url-pattern>/ServletRicercaAvanzataProdotto</url-pattern>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletPagamento</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneLeMieiInserzioni</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteLoggato</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteLoggato</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteLoggato</filter-name>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloPagamento</url-pattern>
    <url-pattern>/ServletModificaDati</url-pattern>
    <url-pattern>/ServletDettagliUtente</url-pattern>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
    <url-pattern>/ServletLeMieAste</url-pattern>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
    <url-pattern>/ServletIMieiAcquisti</url-pattern>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletPagamento</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteBanned</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteBanned</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteBanned</filter-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloOfferta</url-pattern>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
    <url-pattern>/ServletLeMieAste</url-pattern>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneLeMieiInserzioni</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteDisabilitato</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteDisabilitato</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteDisabilitato</filter-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaPassword</url-pattern>
    <url-pattern>/ServletControlloOfferta</url-pattern>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletModificaDati</url-pattern>
    <url-pattern>/ServletModificaPassword</url-pattern>
    <url-pattern>/ServletDettagliUtente</url-pattern>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
    <url-pattern>/ServletLeMieAste</url-pattern>
    <url-pattern>/ServletRegistrazione</url-pattern>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneLeMieiInserzioni</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterNotVisitatore</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterNotVisitatore</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterNotVisitatore</filter-name>
    <url-pattern>/ServletControlloModificaPassword</url-pattern>
    <url-pattern>/ServletModificaPassword</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteNotAdmin</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteNotAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteNotAdmin</filter-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloOfferta</url-pattern>
    <url-pattern>/ServletControlloPagamento</url-pattern>
    <url-pattern>/ServletModificaDati</url-pattern>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
    <url-pattern>/ServletLeMieAste</url-pattern>
    <url-pattern>/ServletIMieiAcquisti</url-pattern>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletPagamento</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneLeMieiInserzioni</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteAdmin</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteAdmin</filter-name>
    <url-pattern>/amministrazione.jsp</url-pattern>
    <url-pattern>/categorie.jsp</url-pattern>
    <url-pattern>/produttori.jsp</url-pattern>
    <url-pattern>/prodotti.jsp</url-pattern>
    <url-pattern>/ServletAmministrazione</url-pattern>
    <url-pattern>/ServletAggiornascadenzaAste</url-pattern>
    <url-pattern>/ServletAggiungiCategoria</url-pattern>
    <url-pattern>/ServletAggiungiKeyword</url-pattern>
    <url-pattern>/ServletAggiungiProdotto</url-pattern>
    <url-pattern>/ServletAggiungiProduttore</url-pattern>
    <url-pattern>/ServletAssociaProdottoKeyword</url-pattern>
    <url-pattern>/ServletAssociaProduttore</url-pattern>
    <url-pattern>/ServletDisassociaProdottoKeyword</url-pattern>
    <url-pattern>/ServletDisassociaProduttore</url-pattern>
    <url-pattern>/ServletEliminaCategoria</url-pattern>
    <url-pattern>/ServletEliminaInserzione</url-pattern>
    <url-pattern>/ServletEliminaProdotto</url-pattern>
    <url-pattern>/ServletEliminaProduttore</url-pattern>
    <url-pattern>/ServletEliminaKeyword</url-pattern>
    <url-pattern>/ServletListaInserzioni</url-pattern>
    <url-pattern>/ServletListaUtenti</url-pattern>
    <url-pattern>/ServletModificaCategoria</url-pattern>
    <url-pattern>/ServletModificaKeyword</url-pattern>
    <url-pattern>/ServletModificaProdotto</url-pattern>
    <url-pattern>/ServletModificaProduttore</url-pattern>
    <url-pattern>/ServletRicercaInserzioneAdmin</url-pattern>
    <url-pattern>/ServletRicercaUtente</url-pattern>
    <url-pattern>/ServletSetStatoSito</url-pattern>
    <url-pattern>/ServletSetStatoUtente</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterControlloNotVenditore</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterControlloNotVenditore</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterControlloNotVenditore</filter-name>
    <url-pattern>/ServletOfferta</url-pattern>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterUtenteVenditore</filter-name>
    <filter-class>it.unisannio.sweng.rosariogoglia.filters.FilterUtenteVenditore</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterUtenteVenditore</filter-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
    <url-pattern>/ServletRimuoviInserzioneLeMieiInserzioni</url-pattern>
  </filter-mapping>
  <display-name>AsteOnLine</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ServletInizializzazione</display-name>
    <servlet-name>ServletInizializzazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInizializzazione</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInizializzazione</servlet-name>
    <url-pattern>/ServletInizializzazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRegistrazione</display-name>
    <servlet-name>ServletRegistrazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazione</servlet-name>
    <url-pattern>/ServletRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletInserisciInserzione</display-name>
    <servlet-name>ServletInserisciInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInserisciInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserisciInserzione</servlet-name>
    <url-pattern>/ServletInserisciInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaInserzione</display-name>
    <servlet-name>ServletModificaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaInserzione</servlet-name>
    <url-pattern>/ServletModificaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CercaComuni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaComuni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaComuni</servlet-name>
    <url-pattern>/cercacomuni.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CercaProduttori</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaProduttori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaProduttori</servlet-name>
    <url-pattern>/cercaproduttori.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CercaProduttoriMancanti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletCercaProduttoriMancanti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaProduttoriMancanti</servlet-name>
    <url-pattern>/cercaproduttorimancanti.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CercaProdotti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletCercaProdotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaProdotti</servlet-name>
    <url-pattern>/cercaprodotti.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletDettagliInserzione</display-name>
    <servlet-name>ServletDettagliInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletDettagliInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDettagliInserzione</servlet-name>
    <url-pattern>/ServletDettagliInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostraProdotti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletMostraProdotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraProdotti</servlet-name>
    <url-pattern>/mostraprodotti.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAsteInChiusura</display-name>
    <servlet-name>ServletAsteInChiusura</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletAsteInChiusura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAsteInChiusura</servlet-name>
    <url-pattern>/ServletAsteInChiusura</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAsteInCorso</display-name>
    <servlet-name>ServletAsteInCorso</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletAsteInCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAsteInCorso</servlet-name>
    <url-pattern>/ServletAsteInCorso</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloInserisciInserzione</display-name>
    <servlet-name>ServletControlloInserisciInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloInserisciInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloInserisciInserzione</servlet-name>
    <url-pattern>/ServletControlloInserisciInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloModificaInserzione</display-name>
    <servlet-name>ServletControlloModificaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaInserzione</servlet-name>
    <url-pattern>/ServletControlloModificaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloModificaDati</display-name>
    <servlet-name>ServletControlloModificaDati</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaDati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaDati</servlet-name>
    <url-pattern>/ServletControlloModificaDati</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloModificaPassword</display-name>
    <servlet-name>ServletControlloModificaPassword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloModificaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloModificaPassword</servlet-name>
    <url-pattern>/ServletControlloModificaPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloRipubblicaInserzione</display-name>
    <servlet-name>ServletControlloRipubblicaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloRipubblicaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloRipubblicaInserzione</servlet-name>
    <url-pattern>/ServletControlloRipubblicaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloPagamento</display-name>
    <servlet-name>ServletControlloPagamento</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloPagamento</servlet-name>
    <url-pattern>/ServletControlloPagamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletControlloOfferta</display-name>
    <servlet-name>ServletControlloOfferta</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletControlloOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlloOfferta</servlet-name>
    <url-pattern>/ServletControlloOfferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletDettagliUtente</display-name>
    <servlet-name>ServletDettagliUtente</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletDettagliUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDettagliUtente</servlet-name>
    <url-pattern>/ServletDettagliUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletIMieiAcquisti</display-name>
    <servlet-name>ServletIMieiAcquisti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletIMieiAcquisti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIMieiAcquisti</servlet-name>
    <url-pattern>/ServletIMieiAcquisti</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletInserzioniOsservate</display-name>
    <servlet-name>ServletInserzioniOsservate</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletInserzioniOsservate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserzioniOsservate</servlet-name>
    <url-pattern>/ServletInserzioniOsservate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletLeMieInserzioni</display-name>
    <servlet-name>ServletLeMieInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLeMieInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeMieInserzioni</servlet-name>
    <url-pattern>/ServletLeMieInserzioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletMail</display-name>
    <servlet-name>ServletMail</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMail</servlet-name>
    <url-pattern>/ServletMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaDati</display-name>
    <servlet-name>ServletModificaDati</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaDati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaDati</servlet-name>
    <url-pattern>/ServletModificaDati</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletOfferta</display-name>
    <servlet-name>ServletOfferta</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOfferta</servlet-name>
    <url-pattern>/ServletOfferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletOsservaInserzione</display-name>
    <servlet-name>ServletOsservaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletOsservaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOsservaInserzione</servlet-name>
    <url-pattern>/ServletOsservaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletPagamento</display-name>
    <servlet-name>ServletPagamento</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPagamento</servlet-name>
    <url-pattern>/ServletPagamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaAvanzataInserzione</display-name>
    <servlet-name>ServletRicercaAvanzataInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaAvanzataInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaAvanzataInserzione</servlet-name>
    <url-pattern>/ServletRicercaAvanzataInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaAvanzataProdotto</display-name>
    <servlet-name>ServletRicercaAvanzataProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaAvanzataProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaAvanzataProdotto</servlet-name>
    <url-pattern>/ServletRicercaAvanzataProdotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaInserzioni</display-name>
    <servlet-name>ServletRicercaInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaInserzioni</servlet-name>
    <url-pattern>/ServletRicercaInserzioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaPassword</display-name>
    <servlet-name>ServletModificaPassword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletModificaPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaPassword</servlet-name>
    <url-pattern>/ServletModificaPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletLeMieAste</display-name>
    <servlet-name>ServletLeMieAste</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletLeMieAste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeMieAste</servlet-name>
    <url-pattern>/ServletLeMieAste</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaLeMieInserzioniTitolo</display-name>
    <servlet-name>ServletRicercaLeMieInserzioniTitolo</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRicercaLeMieInserzioniTitolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaLeMieInserzioniTitolo</servlet-name>
    <url-pattern>/ServletRicercaLeMieInserzioniTitolo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRipubblicaInserzione</display-name>
    <servlet-name>ServletRipubblicaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRipubblicaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRipubblicaInserzione</servlet-name>
    <url-pattern>/ServletRipubblicaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRimuoviInserzioneLeMieInserzioni</display-name>
    <servlet-name>ServletRimuoviInserzioneLeMieInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRimuoviInserzioneLeMieInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRimuoviInserzioneLeMieInserzioni</servlet-name>
    <url-pattern>/ServletRimuoviInserzioneLeMieInserzioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRimuoviInserzioneOsservata</display-name>
    <servlet-name>ServletRimuoviInserzioneOsservata</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controller.ServletRimuoviInserzioneOsservata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRimuoviInserzioneOsservata</servlet-name>
    <url-pattern>/ServletRimuoviInserzioneOsservata</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>amministrazione</display-name>
    <servlet-name>amministrazione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAmministrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>amministrazione</servlet-name>
    <url-pattern>/amministrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletLoginAmministratore</display-name>
    <servlet-name>ServletLoginAmministratore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletLoginAmministratore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginAmministratore</servlet-name>
    <url-pattern>/ServletLoginAmministratore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletListaInserzioni</display-name>
    <servlet-name>ServletListaInserzioni</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletListaInserzioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaInserzioni</servlet-name>
    <url-pattern>/ServletListaInserzioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAggiungiCategoria</display-name>
    <servlet-name>ServletAggiungiCategoria</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiCategoria</servlet-name>
    <url-pattern>/ServletAggiungiCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAggiungiKeyword</display-name>
    <servlet-name>ServletAggiungiKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiKeyword</servlet-name>
    <url-pattern>/ServletAggiungiKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAggiornaScadenzaAste</display-name>
    <servlet-name>ServletAggiornaScadenzaAste</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiornaScadenzaAste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiornaScadenzaAste</servlet-name>
    <url-pattern>/ServletAggiornaScadenzaAste</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAggiungiProdotto</display-name>
    <servlet-name>ServletAggiungiProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiProdotto</servlet-name>
    <url-pattern>/ServletAggiungiProdotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAggiungiProduttore</display-name>
    <servlet-name>ServletAggiungiProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAggiungiProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiProduttore</servlet-name>
    <url-pattern>/ServletAggiungiProduttore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAssociaProdottoKeyword</display-name>
    <servlet-name>ServletAssociaProdottoKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAssociaProdottoKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAssociaProdottoKeyword</servlet-name>
    <url-pattern>/ServletAssociaProdottoKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletAssociaProduttore</display-name>
    <servlet-name>ServletAssociaProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletAssociaProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAssociaProduttore</servlet-name>
    <url-pattern>/ServletAssociaProduttore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletCercaProduttoriMancanti</display-name>
    <servlet-name>ServletCercaProduttoriMancanti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletCercaProduttoriMancanti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCercaProduttoriMancanti</servlet-name>
    <url-pattern>/ServletCercaProduttoriMancanti</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletDisassociaProdottoKeyword</display-name>
    <servlet-name>ServletDisassociaProdottoKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletDisassociaProdottoKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDisassociaProdottoKeyword</servlet-name>
    <url-pattern>/ServletDisassociaProdottoKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletDisassociaProduttore</display-name>
    <servlet-name>ServletDisassociaProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletDisassociaProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDisassociaProduttore</servlet-name>
    <url-pattern>/ServletDisassociaProduttore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletEliminaCategoria</display-name>
    <servlet-name>ServletEliminaCategoria</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletEliminaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminaCategoria</servlet-name>
    <url-pattern>/ServletEliminaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletEliminaInserzione</display-name>
    <servlet-name>ServletEliminaInserzione</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletEliminaInserzione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminaInserzione</servlet-name>
    <url-pattern>/ServletEliminaInserzione</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletEliminaKeyword</display-name>
    <servlet-name>ServletEliminaKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletEliminaKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminaKeyword</servlet-name>
    <url-pattern>/ServletEliminaKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletEliminaProdotto</display-name>
    <servlet-name>ServletEliminaProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletEliminaProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminaProdotto</servlet-name>
    <url-pattern>/ServletEliminaProdotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletEliminaProduttore</display-name>
    <servlet-name>ServletEliminaProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletEliminaProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminaProduttore</servlet-name>
    <url-pattern>/ServletEliminaProduttore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletListaUtenti</display-name>
    <servlet-name>ServletListaUtenti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletListaUtenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaUtenti</servlet-name>
    <url-pattern>/ServletListaUtenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaCategoria</display-name>
    <servlet-name>ServletModificaCategoria</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletModificaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaCategoria</servlet-name>
    <url-pattern>/ServletModificaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaKeyword</display-name>
    <servlet-name>ServletModificaKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletModificaKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaKeyword</servlet-name>
    <url-pattern>/ServletModificaKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaProdotto</display-name>
    <servlet-name>ServletModificaProdotto</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletModificaProdotto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaProdotto</servlet-name>
    <url-pattern>/ServletModificaProdotto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificaProduttore</display-name>
    <servlet-name>ServletModificaProduttore</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletModificaProduttore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaProduttore</servlet-name>
    <url-pattern>/ServletModificaProduttore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletMostraKeyword</display-name>
    <servlet-name>ServletMostraKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletMostraKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMostraKeyword</servlet-name>
    <url-pattern>/mostrakeyword.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletMostraKeywordMancanti</display-name>
    <servlet-name>ServletMostraKeywordMancanti</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletMostraKeywordMancanti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMostraKeywordMancanti</servlet-name>
    <url-pattern>/mostrakeywordmancanti.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaInserzioniAdmin</display-name>
    <servlet-name>ServletRicercaInserzioniAdmin</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletRicercaInserzioniAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaInserzioniAdmin</servlet-name>
    <url-pattern>/ServletRicercaInserzioniAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletRicercaUtente</display-name>
    <servlet-name>ServletRicercaUtente</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletRicercaUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRicercaUtente</servlet-name>
    <url-pattern>/ServletRicercaUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletSetStatoSito</display-name>
    <servlet-name>ServletSetStatoSito</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletSetStatoSito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSetStatoSito</servlet-name>
    <url-pattern>/ServletSetStatoSito</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletSetStatoUtente</display-name>
    <servlet-name>ServletSetStatoUtente</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.controllerAmministrazione.ServletSetStatoUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSetStatoUtente</servlet-name>
    <url-pattern>/ServletSetStatoUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutocompletamentoKeyword</display-name>
    <servlet-name>AutocompletamentoKeyword</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletAutocompletamentoKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompletamentoKeyword</servlet-name>
    <url-pattern>/autocompleteKeyword.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutocompletamentoTitolo</display-name>
    <servlet-name>AutocompletamentoTitolo</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletAutocompletamentoTitolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompletamentoTitolo</servlet-name>
    <url-pattern>/autocompleteTitolo.ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutocompletamentoNick</display-name>
    <servlet-name>AutocompletamentoNick</servlet-name>
    <servlet-class>it.unisannio.sweng.rosariogoglia.ajax.ServletAutocompletamentoNick</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompletamentoNick</servlet-name>
    <url-pattern>/autocompleteNick.ajax</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404NotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/405MethodNotAllowed.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500InternalServerError.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>